{
  "cli": {
    "version": ">= 16.17.4",
    "appVersionSource": "remote"
  },
  "build": {
    "development": {
      "developmentClient": true,
      "distribution": "internal",
      "env": {
        "EXPO_PUBLIC_MERCHANT_ID": "22244",
        "EXPO_PUBLIC_LOYSTAR_BASE_URL" :"https://api.loystar.co/api/v2",
        "EXPO_PUBLIC_PAYSTACK_SECRET_KEY": "sk_test_08da91d59f77e26d85a8f403d0b675b22f3ce5e5",
        "EXPO_PUBLIC_PAYSTACK_PUBLIC_KEY": "pk_test_2f5fe11f645e8ffa062f379d652aef8daf391f82",
        "EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID": "588241135226",
        "EXPO_PUBLIC_FIREBASE_APP_ID": "1:588241135226:web:5c5e36b6c6e4c8663cbdc3",
        "EXPO_PUBLIC_FIREBASE_API_KEY": "AIzaSyAI7ZmwJPhhtBUFEhxu9D8lOPsxKoySO2k",
        "EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN": "mfa-1d165.firebaseapp.com",
        "EXPO_PUBLIC_FIREBASE_PROJECT_ID": "mfa-1d165",
        "EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET": "mfa-1d165.appspot.com"
      }
    },
    "preview": {
      "distribution": "internal",
      "env": {
        "EXPO_PUBLIC_MERCHANT_ID": "22244",
        "EXPO_PUBLIC_LOYSTAR_BASE_URL" :"https://api.loystar.co/api/v2",
        "EXPO_PUBLIC_PAYSTACK_SECRET_KEY": "sk_test_08da91d59f77e26d85a8f403d0b675b22f3ce5e5",
        "EXPO_PUBLIC_PAYSTACK_PUBLIC_KEY": "pk_test_2f5fe11f645e8ffa062f379d652aef8daf391f82",
        "EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID": "588241135226",
        "EXPO_PUBLIC_FIREBASE_APP_ID": "1:588241135226:web:5c5e36b6c6e4c8663cbdc3",
        "EXPO_PUBLIC_FIREBASE_API_KEY": "AIzaSyAI7ZmwJPhhtBUFEhxu9D8lOPsxKoySO2k",
        "EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN": "mfa-1d165.firebaseapp.com",
        "EXPO_PUBLIC_FIREBASE_PROJECT_ID": "mfa-1d165",
        "EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET": "mfa-1d165.appspot.com"
      }
    },
    "production": {
      "autoIncrement": true,
      "env": {
        "EXPO_PUBLIC_MERCHANT_ID": "22244",
        "EXPO_PUBLIC_LOYSTAR_BASE_URL" :"https://api.loystar.co/api/v2",
        "EXPO_PUBLIC_PAYSTACK_SECRET_LIVE_KEY": "YOUR_PAYSTACK_SECRET_LIVE_KEY",
        "EXPO_PUBLIC_PAYSTACK_PUBLIC_LIVE_KEY": "YOUR_PAYSTACK_PUBLIC_LIVE_KEY",
        "EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID": "588241135226",
        "EXPO_PUBLIC_FIREBASE_APP_ID": "1:588241135226:web:5c5e36b6c6e4c8663cbdc3",
        "EXPO_PUBLIC_FIREBASE_API_KEY": "AIzaSyAI7ZmwJPhhtBUFEhxu9D8lOPsxKoySO2k",
        "EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN": "mfa-1d165.firebaseapp.com",
        "EXPO_PUBLIC_FIREBASE_PROJECT_ID": "mfa-1d165",
        "EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET": "mfa-1d165.appspot.com"
      }
    }
  },
  "submit": {
    "production": {}
  }
}